build
debug
CMakeLists.txt~
debug.cpp~
gap_bv_benchmark.txt
README.md~
*~

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
hopscotch_map-prefix/
*.log
*.csv
*.tsv
.vscode/
add_bench

CTestTestfile.cmake
DartConfiguration.tcl
_deps/
benchmark
cw-bwt
h0_lz77
rle_bwt
rle_lz77_v1
space_suc
rle_lz77_v2
exact_bench
wm_string
Testing/
deb
time/t*
time/CMakeLists.txt

gmon.out

analysis.txt